travail_prep_spectro/rapport_imrad.aux
travail_prep_spectro/rapport_imrad.fdb_latexmk
travail_prep_spectro/rapport_imrad.fls
travail_prep_spectro/rapport_imrad.log
travail_prep_spectro/rapport_imrad.out
travail_prep_spectro/rapport_imrad.synctex.gz
math_model/.calculs_analytiques.autosave.xopp
